apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-python-basic-d8di
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-python-basic-d8di
    app.kubernetes.io/part-of: appstudio
  name: devfile-sample-python-basic-d8di
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: python-app
      app.kubernetes.io/instance: devfile-sample-python-basic-d8di
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: python-app
        app.kubernetes.io/instance: devfile-sample-python-basic-d8di
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/push-pyxis-jmdg-tenant/appstudio/devfile-sample-python-basic-d8di@sha256:ab1149f99c69845498edea5a81304001b1f73a47af6125dd0a7d2a07e1219038
        name: my-python
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
